<div class="container mt-2">
  <div *ngIf="cartItem === null">
    <p>There are no items in your basket</p>

    <a routerLink="/shop" class="btn btn-outline-primary py-2 btn-block">
      Return to Shop 
    </a>
  </div>
  <div *ngIf="cartItem">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="border-0 bg-light" scope="col">
                      <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">QUantity</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Total</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Remove</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cartItem; let i = index">
                    <th scope="row">
                      <div class="p-2">
                        <img
                          src="{{ item.pictureUrl }}"
                          alt="{{ item.name }}"
                          class="img-fluid"
                          style="max-height: 50px"
                        />
                        <div class="ml-4 mr-2 d-inline-block align-middle">
                          <h5 class="mb-0">
                            <a
                              routerLink="/shop/{{ item.id }}"
                              class="text-dark"
                              style="text-decoration: none"
                            >
                              {{ item.name }}</a
                            >
                          </h5>
                          <span
                            class="text-muted font-weight-normal font-italic d-block"
                          >
                            Type:{{ item.category.name }}
                          </span>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle">
                      <strong>{{ item.price | currency }}</strong>
                    </td>

                    <td class="align-middle">
                      <div class="d-flex align-items-center">
                        <i
                        (click)="decrementItem(item)"
                          class="fa fa-minus-circle text-warning"
                          style="cursor: pointer; font-size: 2em"
                        ></i>
                        <span
                          class="font-weight-bold"
                          style="font-size: 1.5em"
                          >{{ item.quantity }}</span
                        >
                        <i
                        (click)="incrementItem(item)"
                          class="fa fa-plus-circle text-warning mx-2"
                          style="cursor: pointer; font-size: 2em"
                        ></i>
                      </div>
                    </td>
                    <td class="align-middle">
                      <strong>{{
                        item.price * item.quantity | currency
                      }}</strong>
                    </td>
                    <td class="align-middle text-center">
                      <a class="text-danger">
                        <i
                          class="fa fa-trash"
                          style="font-size: 2em;cursor: pointer;"
                          (click)="removeItem(i)"
                        ></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

       

        <div class="row">
          <div class="col-6 offset-6">
            <app-order-tools></app-order-tools>
            <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
              Proceed to checkout 
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
