<div class="card h-70 shadow-sm align-items-center">
  <div class="image position-relative" style="cursor: pointer">
    <img src="{{ product?.pictureUrl }}" alt="" class="img-fluid bg-light"  style="height: 300px;"/>
  </div>

  <div class="d-flex align-items-center justify-content-center hover-overlay">
    <button type="button" class="btn btn-primary mr-5  btn-space"  (click)="addItemToBasket()">
      <i class="fa fa-shopping-cart fa-1x mr-5 text-dark text-white"></i>
    </button>

    <button
      type="button"
      class="btn btn-primary"
      routerLink="/shop/{{ product?.id }}"
    >
      view
    </button>
  </div>
  <div class="card-body d-flex flex-column">
    <a routerLink="/shop/{{ product?.id }}">
      <h6 class="text-uppercase" style="text-decoration: none">
        {{ product?.name }}
      </h6></a
    >

    <span class="mb-2"> ${{ product?.price }}</span>
  </div>
</div>
