
<div *ngIf="cartItem" >
    <!-- <button

class="button-one submit-button mt-15"
data-text="place order"
type="submit"

>
place order
</button> -->
 
<a *ngIf="user" class="btn btn-outline-primary py-2 btn-block" (click)="placeOrder()"  >
    Place order
  </a>


</div>


