<div class="container mt-5">
  <div class="row">
    <div class="col-4 justify-content-center" *ngIf="cartItem">
      <app-order-tools></app-order-tools>
      <br />

      <app-stepper></app-stepper>
    </div>

    <div *ngIf="cartItem === null">
      <p><strong>EMPTY CHECKOUT</strong></p>
      <br />

      <a routerLink="/shop" class="btn btn-outline-primary py-2 btn-block">
        Go On shop and choose a Product
      </a>
    </div>
  </div>
</div>
