<div class="d-flex flex-row">

    <ngb-pagination
      [collectionSize]="totalElementsSize!"
      [(page)]="currentPage"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
      [pageSize]="pageSize"
      (pageChange)="pageNumberChanged($event)"
  ></ngb-pagination>
  
    <select
      class="form-select form-select-sm page-size-selector"
      (change)="pageSizeChange($event)"
    >
      <option
        *ngFor="let item of sizes"
        [value]="item"
        [selected]="item === pageSize"
      >
        {{ item }}
      </option>
    </select>
  </div>
  