<div class="row">
  <div class="col-6">
    <img
      src="{{ product?.pictureUrl }}"
      style="height: 327px"
      alt="{{ product?.name }}"
      class="img-fluid w-100"
    />
  </div>
  <div class="col-6">
    <h3>{{ product?.name }}</h3>
    <p style="font-size: 2em">${{ product?.price }}</p>
    <div class="d-flex justify-content-start align-items-center">
      <i
      (click)="decreamentQuantity()"
        class="fa fa-minus-circle text-warning"
        style="cursor: pointer; font-size: 2em"
      ></i>
      <span class="font-weight-bold" style="font-size: 1.5em">{{quantity}}</span>
      <i
      (click)="incrementeQuantity()"
        class="fa fa-plus-circle text-warning mx-2"
        style="cursor: pointer; font-size: 2em"
      ></i>
      <button class="btn btn-outline-secondary btn-lg ml-4 " (click)="addItemToBasket()">Add to Cart</button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 ml-3">
      <h4>Description</h4>
      <p>{{ product?.description }}</p>
    </div>
  </div>
</div>
