<div class="containerc mt-5">
    <button class="btn btn-outline-primary mr-3" (click)="get400Error()">Test 400 error</button>
    <button class="btn btn-outline-primary mr-3" (click)="get500Error()">Test 500 error</button>
    <button class="btn btn-outline-primary mr-3" (click)="get404Error()">Test 404 error</button>


</div>