<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Order || Shinesolutions</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Place favicon.ico in the root directory -->

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,900"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Bree+Serif"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <!-- WRAPPER START -->
    <div class="wrapper bg-dark-white">
      <!-- HEADER-AREA START -->

      <!-- Mobile-menu start -->

      <!-- HEADING-BANNER START -->
      <div class="heading-banner-area overlay-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="heading-banner">
                <div class="heading-banner-title">
                  <h2>order complete</h2>
                </div>
                <div class="breadcumbs pb-15">
                  <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li>order complete</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- HEADING-BANNER END -->
      <!-- ORDER-AREA START -->
      <div class="shopping-cart-area pt-80 pb-80">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="shopping-cart">
                <!-- Nav tabs -->

                <!-- Tab panes -->
                <div class="tab-content">
                  <!-- order-complete start -->
                  <div class="tab-pane active" id="order-complete">
                    <form action="#">
                      <div class="thank-recieve bg-white mb-30">
                        <p *ngIf="!order.is_paid">
                          Thank you. Your order has been received. Please
                          proceed to payment that we process your order.
                        </p>
                        <p *ngIf="order.is_paid">
                          Thank you. Your order has been received. We have
                          received your payment.
                        </p>
                      </div>
                      <div
                        class="order-info bg-white text-center clearfix mb-30"
                      >
                        <div class="single-order-info">
                          <h4
                            class="title-1 text-uppercase text-light-black mb-0"
                          >
                            order no
                          </h4>
                          <p class="text-uppercase text-light-black mb-0">
                            <strong class="text-danger"
                              >#{{ order?.reference_code }}</strong
                            >
                          </p>
                        </div>
                        <div class="single-order-info">
                          <h4
                            class="title-1 text-uppercase text-light-black mb-0"
                          >
                            Date
                          </h4>
                          <p class="text-uppercase text-light-black mb-0">
                            <strong class="text-danger">{{
                              order?.created_at | date : "MMMM dd, yyyy"
                            }}</strong>
                          </p>
                        </div>
                        <div class="single-order-info">
                          <h4
                            class="title-1 text-uppercase text-light-black mb-0"
                          >
                            Total
                          </h4>
                          <p class="text-uppercase text-light-black mb-0">
                            <strong class="text-danger"
                              >Rwf {{ order?.total | number }}</strong
                            >
                          </p>
                        </div>
                        <div class="single-order-info">
                          <h4
                            class="title-1 text-uppercase text-light-black mb-0"
                          >
                            payment method
                          </h4>
                          <p class="text-uppercase text-light-black mb-0">
                            <strong class="text-danger">{{
                              order.is_paid
                                ? order.payment_mode
                                : "check payment"
                            }}</strong>
                          </p>
                        </div>
                      </div>
                      <div class="shop-cart-table check-out-wrap">
                        <div class="row">
                          <div class="col-md-6 col-sm-6 col-sm-12">
                            <div class="our-order payment-details pr-20">
                              <h4
                                class="title-1 title-border text-uppercase mb-30"
                              >
                                your order
                              </h4>
                              <table *ngIf="order">
                                <thead>
                                  <tr>
                                    <th><strong>Product</strong></th>
                                    <th class="text-right">
                                      <strong>Total</strong>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let product of order.products">
                                    <td>
                                      {{ product.name }} x
                                      {{ product.quantity }}
                                      <br />
                                      <ul>
                                        <li
                                          *ngFor="
                                            let item of product.selected_properties
                                          "
                                        >
                                          <b>{{ item.name }}:</b>
                                          {{ item.value }}
                                        </li>
                                      </ul>
                                    </td>
                                    <td class="text-right text-danger">
                                      Rwf {{ product.total | number }}
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>Fees</td>
                                    <td class="text-right text-danger">
                                      Rwf {{ order.fees | number }}
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>Order Total</td>
                                    <td class="text-right text-danger">
                                      Rwf {{ order.total | number }}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <!-- payment-method -->
                          <div class="col-md-6 col-sm-6 col-sm-12 mt-xs-30">
                            <div class="payment-method pl-20">
                              <h4
                                class="title-1 title-border text-uppercase mb-30"
                              >
                                payment method
                              </h4>
                              <div
                                class="payment-accordion"
                                *ngIf="order.is_paid"
                              >
                                <h3
                                  class="payment-accordion-toggle active"
                                  data-toggle="collapse"
                                  href="#collapseExample"
                                  role="button"
                                  aria-expanded="false"
                                  aria-controls="collapseExample"
                                >
                                  {{ order.payment_mode }}
                                </h3>
                              </div>

                              <div
                                class="payment-accordion"
                                *ngIf="!order.is_paid"
                              >
                                <!-- Accordion start  -->
                                <h3
                                  class="payment-accordion-toggle active"
                                  data-toggle="collapse"
                                  href="#collapseExample"
                                  role="button"
                                  aria-expanded="false"
                                  aria-controls="collapseExample"
                                >
                                  Credit/Debit card
                                </h3>
                                <div
                                  class="pzayment-content default"
                                  class="payment-content default"
                                  class="collapse"
                                  id="collapseExample"
                                >
                                  <p>
                                    Make your payments directly by using your
                                    credit or debit card. We accept various
                                    types such as VISA, MasterCard, etc.
                                  </p>
                                  <!-- <img
                                  class="icon"
                                      src="../../../assets/1.png"
                                      alt=""
                                  />

                                  <img
                                  class="icon"
                                      src="../../../assets/3.png"
                                      alt=""
                                  />

                                  <img
                                  class="icon"
                                      src="../../../assets/4.png"
                                      alt=""
                                  /> -->
                                </div>
                                <!-- Accordion end -->
                                <!-- Accordion start -->
                                <h3
                                  class="payment-accordion-toggle"
                                  data-toggle="collapse"
                                  href="#collapseExample"
                                  role="button"
                                  aria-expanded="true"
                                  aria-controls="collapseExample"
                                >
                                  Mobile Money
                                </h3>
                                <div
                                  class="payment-content"
                                  class="payment-content default"
                                  class="collapse"
                                  id="collapseExample"
                                >
                                  <p>
                                    We also accpet Mobile Money transactions
                                    from both MTN and Airtel Rwanda.
                                  </p>
                                </div>
                                <!-- Accordion end -->
                                <button
                                  *ngIf="!order.is_paid"
                                  class="btn button-one submit-button mt-15 btn-danger"
                                  data-text="make payment"
                                  type="submit"
                                  (click)="makePayment()"
                                >
                                  Make payment
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- order-complete end -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button
      *ngIf="!order.is_paid"
      class="btn button-one submit-button mt-15 btn-danger"
      data-text="make payment"
      type="submit"
      (click)="makePayment()"
    >
      Make payment
    </button>
      <!-- ORDER-AREA END -->
      <!-- FOOTER START -->
    </div>
    <!-- WRAPPER END -->
  </body>
</html>



