<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form
      class="form-signin"
      [formGroup]="registerForm!"
      (ngSubmit)="onSubmit()"
    >
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
      </div>

      <div class="form-label-group">
        <input
          formControlName="email"
          type="email"
          id="inputEmail"
          class="form-control"
          placeholder="Email "
          autofocus=""
        />
      </div>
      <br />

      <div class="form-label-group">
        <input
          formControlName="phone_number"
          type="tel"
          id="inputEmail"
          class="form-control"
          placeholder="Phone Nmber "
          autofocus=""
        />
      </div>
      <br />
      <div class="form-label-group">
        <input
          formControlName="first_name"
          type="text"
          id="inputEmail"
          class="form-control"
          placeholder="First Name "
          autofocus=""
        />
      </div>
      <br />
      <div class="form-label-group">
        <input
          formControlName="last_name"
          type="tel"
          id="inputEmail"
          class="form-control"
          placeholder="Last Name "
          autofocus=""
        />
      </div>
      <br />

      <div class="form-label-group">
        <input
          formControlName="password"
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Password"
        />

        <span
          class="text-danger"
          *ngIf="
            registerForm?.get('password')?.invalid &&
            registerForm?.get('password')?.touched
          "
        >
          Password Required</span
        >
      </div>

   

      <button
        class="btn btn-lg btn-primary btn-block w-100"
        type="submit"
        [disabled]="registerForm?.invalid"
      >
        Register
      </button>
    </form>
  </div>
</div>
