<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form class="form-signin" [formGroup]="loginForm!" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      </div>

      <div class="form-label-group">
        <input
          formControlName="username"
          type="tel"
          id="inputEmail"
          class="form-control"
          placeholder="Phone Nmber "
          autofocus=""
        />
        <label for="inputEmail">Phone Number</label>
      </div>

      <div class="form-label-group">
        <input
          formControlName="password"
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Password"
        />
        <label for="inputPassword">Password</label>
        <span class="text-danger" *ngIf="loginForm?.get('password')?.invalid && loginForm?.get('password')?.touched &&loginForm?.get('password')?.errors">
        Password Required</span>
      </div>

      <button class="btn btn-lg btn-primary btn-block w-100" type="submit" [disabled]="loginForm?.invalid">
        Sign in
      </button>
    </form>
  </div>
</div>
