.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50px;
  font-size: 1em;
  background: blue;
  color: white;
  text-align: center;
  top: 12px;
//   right: 242px;
}
a {
  text-decoration: none;
  color: #343a40;
  &.active {
    color: orange;
  }
}
