<div class="d-flex flex-column flex-md-row align-items-center p-4 px-md-4 mb-3 bg-white border-bottom shadow-sm justify-content-between fixed-top">
    
    
   <img src="../../assets/ecommerce.jpg" style="max-height:50px;cursor: pointer;" alt="logo" routerLink="/">

    <nav class="my-2 my-md-0 mr-md-3">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none " [routerLink]="['/']" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}"
      >Home</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" [routerLink]="['/shop']" routerLinkActive="active">Shop</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" routerLink="/test-error" routerLinkActive="active">Errors</a>
    
    </nav>
    <div class="d-flex  align-items-center">
      <i class="fa fa-shopping-cart fa-2x mr-1 text-dark"   *ngIf="cart"routerLink="/basket"  style="margin-right: 21px;cursor: pointer;"></i>
      <div class="cart-no"  *ngIf="cart">
        <b  >{{cartItem.length}}</b>
        </div>
        <ng-container *ngIf="(profile)===null">
          <a  class="btn btn-outline-primary mr-2" routerLink="/account/login">  Login</a>
          <a class="btn btn-outline-secondary mr-3" routerLink="/account/register"> Sign Up</a>

        </ng-container>

        <ng-container  *ngIf="profile">
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <a class="dropdown-toggle" style="cursor: pointer;" id="dropdownBasic1" ngbDropdownToggle>
                  <strong href="#"> Welcome {{profile.phone_number}}</strong>
                </a>
            
              
                <div ngbDropdownMenu >
                  <a routerLink="/basket" class="dropdown-item d-flex align-items-center py-2" style="cursor: pointer;">
                    <i class="fa fa-shopping-cart mr-3" style="cursor: pointer;"> View Basket</i>
                  </a>
                  <a routerLink="/orders" class="dropdown-item d-flex align-items-center py-2" style="cursor: pointer;">
                    <i class="fa fa-history mr-3"> View Order</i>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2" style="cursor: pointer;">
                    <i class="fa fa-sign-out mr-3"> Logout</i>
                  </a>
                </div>
              </div>
            </div>
          
            
          </div>

        </ng-container>
     
        <!-- <ng-container *ngIf="profile">
          <div class="dropdown ml-3 mr-5" dropdown>
            <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
              <strong href="#"> Welcome {{profile.phone_number}}</strong>
            </a>

            <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
            <a class="dropdown-item d-flex align-items-center py-2">
              <i class="fa fa-shopping-cart mr-3"> View Basket</i>
            </a>
            <a class="dropdown-item d-flex align-items-center py-2">
              <i class="fa fa-history mr-3"> View Order</i>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item d-flex align-items-center py-2">
              <i class="fa fa-sign-out mr-3"> Logout</i>
            </a>
            </div>
          </div>
         

        </ng-container> -->
    
      
    </div>
   
  </div>