<div class="container mt-3">
  <div class="row">
    <section class="col-3">
      <ng-container *ngIf="categories && brands">
        <h5 class="text-warning ml-3">Sort</h5>

        <select
          class="form-select"
          aria-label="Default select example"
          (change)="onOrderSelected($event)"
        >
          <option *ngFor="let order of orderOptions" [value]="order.value">
            {{ order.name }}
          </option>
        </select>

        <h5 class="text-warning ml-3">Brands</h5>

        <ul class="list-group my-3">
          <li
            class="list-group-item"
            aria-current="true"
            *ngFor="let brand of brands"
            [class.active]="brand.id === this.shopParams.brandId"
            [value]="brand.id"
            (click)="onBrandSelected(brand.id)"
          >
            {{ brand.name }}
          </li>
        </ul>
        <h5 class="text-warning">Types</h5>
        <ul class="list-group my-3">
          <li
            class="list-group-item"
            aria-current="true"
            *ngFor="let category of categories"
            [class.active]="category.id === this.shopParams.categoryId"
            [value]="category.id"
            (click)="onTypeSelected(category.id)"
          >
            {{ category.name }}
          </li>
        </ul>
      </ng-container>
    </section>

    <section class="col-9">
      <div class="d-flex justify-content-between align-content-center pb-2">
        <header>
          <span
            >Showing <strong>10</strong> of <strong> 16</strong> Results</span
          >
        </header>
        <div class="form-line d-flex flex-row" *ngIf="products">
          <div class="ml-3">
            <input
              type="text"
              class="form-control mr-2"
              style="width: 300px"
              placeholder="Search"
            />
          </div>
          <div>
            <button class="btn btn-outline-primary">Search</button>

            <button class="btn btn-outline-success ">Reset</button>
          </div>
        </div>
      </div>
      <br>

      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col-4 mb-4" *ngFor="let item of products">
            <app-product-item [product]="item"> </app-product-item>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
