<div class="container mt-5">
  <div><i class="fa fa-check-circle fa-5x" style="color: green"></i></div>

  <h2>Thank you.Your Order is confirmed</h2>
  <p class="mb-4">
    Your order has not shipped yet,but this is not be expected as we are not a
    real store
  </p>
  <button class="btn btn-outline-success" routerLink="/orders/{{ order.id }}">
    View Your Order
  </button>

  
</div>
