/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootswatch/dist/united/bootstrap.css";
@import "../node_modules/ngx-spinner/animations/timer.css";

.xng-breadcrumb-root{
padding: 8px 16px ;
display: inline;
border-radius: 0;
}
label.xng-breadcrumb-trail{
    margin-bottom: 0px;
    color: orange;
}

.xng-breadcrumb-separator{
    padding: 0 0;
}



