<carousel>
  <slide>
    <img
      src="../../assets/ecommerce.jpg"
      alt="first slide"
      style="display: block; width: 50%"
    />
  </slide>
  <slide>
    <img
      src="../../assets/sho.jpeg"
      alt="first slide"
      style="display: block; width: 50%"
    />
  </slide>
  <slide>
    <img
      src="../../assets/ecommerce.jpg"
      alt="first slide"
      style="display: block; width: 50%"
    />
  </slide>
  <slide>
    <img
      src="../../assets/ecommerce.jpg"
      alt="first slide"
      style="display: block; width: 50%"
    />
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to the shop!</h1>
  </div>
</section>
